* {
  box-sizing: border-box;
}

.main-cont {
  background-color: #000000;
}

@media (min-width: 960px) {
  .main-cont {
    background-color:#FC6F50
    
  }
}

.title {
  margin-top: 50px;
}

@media (min-width: 960px) {
  .title {
    height: 200px;
    padding: 80px;
    text-align: left;
  }
}

/*CARDS*/
.portfolio {
  color: #FAFAFA;
  background: #000000;
  padding: 70px 52px;
  font-family: "Poppins";
  display:grid;
}

.portfolio__card-container {
  margin-top: 48px;
  display: grid;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

@media (min-width: 960px) {
  .portfolio__card-container {
    grid-template-columns: auto auto auto;
    min-width: 50px;
  }
}

.card {
  display:grid;
  justify-items: center;
}

.portfolio__img {
  width: 138px;
  height: 128px;
  display: flex;
}

.portfolio__text {
  width: 262px;
  text-align: center;
}

.portfolio__subtitle {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
}

.portfolio__p {
  font-size: 16px;
  text-align: center;
}

.link {
  color: #FC6F50;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}